@import '../dgrid/css/dgrid';
@import '../dgrid/css/extensions/ColumnHider';

$fontSize = 12px;

html,
body {
	font-family: sans-serif;
	font-size: $fontSize;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.PlayerControls,
.SongsGrid {
	position: absolute;
	left: 0;
	right: 0;
}

.PlayerControls {
	font-size: 0;

	input[type=range] {
		width: 100%;
	}
}

.PlayerControls-time-elapsed {
	display: inline-block;
	font-size: $fontSize;
	text-align: center;
	min-width: 3em;
}

.PlayerControls-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.SongsGrid {
	// bottom/top expected TBD by skin
	height: auto;

	.dgrid-cell {
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.field-length {
		width: 5em;
	}
}
