.SongsGrid {
	position: absolute;
	bottom: 0;
	top: $playerHeight;
	height: auto;
	width: 100%;

	$dgrid-background ?= #fff;
	$dgrid-color ?= #000;
	$dgrid-border-color ?= #bba;

	$dgrid-header-background ?= #e8e8e8;
	$dgrid-header-background-image ?= linear-gradient(top, #fff 0%,#e8e8e8 100%);
	$dgrid-header-cell-border-color ?= #bba;
	$dgrid-header-cell-font-weight ?= bold;
	$dgrid-header-cell-hover-background ?= #f6f6f6;
	$dgrid-header-cell-hover-background-image ?= linear-gradient(top, #fff 0%, #eee 100%);

	$dgrid-body-row-odd-background-color ?= #f7f7f7;
	$dgrid-body-row-hover-background-color ?= #def;
	$dgrid-body-cell-border-color ?= transparent;

	$dgrid-selected-background-color ?= #cde;

	@import '../dgrid/css/skins/skin';

	.is-playing {
		font-weight: bold;
	}

	.dgrid-no-data {
		color: $placeholderColor;
		font-weight: bold;
		font-size: 32px;
		text-align: center;
		position: absolute;
		top: s('calc(50% - %s)', @font-size / 2);
		width: 100%;
	}
}
