<div class="PlayerControls">
	<div class="PlayerControls-controls">
		<div class="PlayerControls-icon PlayerControls-controls-previous"></div>
		<div class="PlayerControls-icon PlayerControls-controls-rewind"></div>
		<div class="PlayerControls-icon PlayerControls-controls-stop"></div>
		<div class="PlayerControls-icon PlayerControls-controls-play"></div>
		<div class="PlayerControls-icon PlayerControls-controls-fastforward"></div>
		<div class="PlayerControls-icon PlayerControls-controls-next"></div>
	</div>
	<div class="PlayerControls-time-elapsed"></div>
	<div class="PlayerControls-seek">
		<input type="range" class="PlayerControls-seek-slider" value="0" tabindex="-1">
	</div>
	<div class="PlayerControls-mute">
		<div class="PlayerControls-icon PlayerControls-volume-unmuted"></div>
	</div>
	<div class="PlayerControls-volume">
		<div class="PlayerControls-volume-bar">
			<input type="range" class="PlayerControls-volume-slider" value="100" tabindex="-1">
		</div>
	</div>
</div>
